In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression

In [35]:
df=pd.read_csv("WIKI-PRICES.csv")

In [36]:
df.head()

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
0,ZUMZ,2018-03-27,24.65,24.65,23.3500,23.60,403884.0,0.0,1.0,24.65,24.65,23.3500,23.60,403884.0
1,ZUMZ,2018-03-26,23.75,24.80,23.7000,24.65,375320.0,0.0,1.0,23.75,24.80,23.7000,24.65,375320.0
2,ZUMZ,2018-03-23,23.55,24.20,23.4500,23.55,301584.0,0.0,1.0,23.55,24.20,23.4500,23.55,301584.0
3,ZUMZ,2018-03-22,23.90,24.35,23.3000,23.35,269607.0,0.0,1.0,23.90,24.35,23.3000,23.35,269607.0
4,ZUMZ,2018-03-21,23.80,24.60,23.6058,23.95,354092.0,0.0,1.0,23.80,24.60,23.6058,23.95,354092.0

In [37]:
# High-low percentage
df['HL_PCT'] = (df['adj_high'] - df['adj_close']) / df['adj_close'] * 100

# Percentage change ((new - old) / old * 100)
df['PCT_change'] = (df['adj_close'] - df['adj_open']) / df['adj_open'] * 100

# Define useful columns
columns = [
    "date",
    'adj_close',
    'adj_volume',
    'HL_PCT',
    'PCT_change',
]

df = df[columns]

df.head()

         date  adj_close  adj_volume    HL_PCT  PCT_change
0  2018-03-27      23.60    403884.0  4.449153   -4.259635
1  2018-03-26      24.65    375320.0  0.608519    3.789474
2  2018-03-23      23.55    301584.0  2.760085    0.000000
3  2018-03-22      23.35    269607.0  4.282655   -2.301255
4  2018-03-21      23.95    354092.0  2.713987    0.630252

In [38]:
df = df.set_index('date')

In [39]:
df.head()

            adj_close  adj_volume    HL_PCT  PCT_change
date
2018-03-27      23.60    403884.0  4.449153   -4.259635
2018-03-26      24.65    375320.0  0.608519    3.789474
2018-03-23      23.55    301584.0  2.760085    0.000000
2018-03-22      23.35    269607.0  4.282655   -2.301255
2018-03-21      23.95    354092.0  2.713987    0.630252

In [42]:
df.index.name = None
df.head()

            adj_close  adj_volume    HL_PCT  PCT_change
2018-03-27      23.60    403884.0  4.449153   -4.259635
2018-03-26      24.65    375320.0  0.608519    3.789474
2018-03-23      23.55    301584.0  2.760085    0.000000
2018-03-22      23.35    269607.0  4.282655   -2.301255
2018-03-21      23.95    354092.0  2.713987    0.630252

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 2018-03-27 to 1994-01-04
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   adj_close   10000 non-null  float64
 1   adj_volume  10000 non-null  float64
 2   HL_PCT      10000 non-null  float64
 3   PCT_change  10000 non-null  float64
dtypes: float64(4)
memory usage: 390.6+ KB

In [44]:
len(df)

10000

In [45]:
forecast_col="adj_close"
df.fillna(-9999, inplace=True)
import math
# amount of days in advance
forecast_out = int(math.ceil(0.01*len(df)))
forecast_out

100

In [46]:
# set the label to the shift of the forecast col
df['label'] = df[forecast_col].shift(-forecast_out)
df.dropna(inplace=True)
df.head()

            adj_close  adj_volume    HL_PCT  PCT_change  label
2018-03-27      23.60    403884.0  4.449153   -4.259635  17.40
2018-03-26      24.65    375320.0  0.608519    3.789474  17.95
2018-03-23      23.55    301584.0  2.760085    0.000000  18.50
2018-03-22      23.35    269607.0  4.282655   -2.301255  18.05
2018-03-21      23.95    354092.0  2.713987    0.630252  17.90

In [47]:
# X feature
X = np.array(df.drop(['label'],axis=1))

# y labels
y = np.array(df['label'])

# Scale up X
X = preprocessing.scale(X)
y = np.array(df['label'])

# Create the train and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [48]:
clf = LinearRegression()
# Train the model
clf.fit(X_train, y_train)
# Test the accuracy
clf.score(X_test, y_test)

0.7357015764902737

In [49]:
from sklearn import svm
clf = svm.SVR()
# Train the model
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.7381208061031114

In [50]:
forecast_set = clf.predict(X_lately)
forecast_set

array([29.31261565, 27.83618275, 33.82621029, 32.73827227, 29.34688757,
       28.06010808, 30.62841246, 27.96577775, 28.61937128, 24.7624322 ,
       36.79443113, 30.20839629, 28.33014542, 30.01186307, 30.37858314,
       32.48052923, 28.9962659 , 35.44171704, 30.59692273, 32.22754153,
       28.10796039, 32.15022847, 31.34393769, 30.22241079, 28.54121652,
       31.37611532, 27.00831158, 29.26523633, 26.3636929 , 26.56799114,
       29.84044643, 27.35771031, 27.8886312 , 27.82433249, 33.78187886,
       28.72445917, 29.07648966, 35.62786643, 29.38883643, 27.24700644,
       29.48776636, 29.84740424, 26.791232  , 27.58349445, 26.92701925,
       28.13634784, 26.29087024, 35.29670348, 30.48977076, 30.66628233,
       31.77528914, 34.42550089, 30.26167602, 30.06475988, 28.80903819,
       32.18022468, 27.22156877, 28.74891522, 29.79836812, 29.36441504,
       26.71142948, 28.20513673, 27.36227451, 27.7530037 , 27.02292671,
       27.50828521, 29.06957247, 27.65590176, 28.87717314, 30.67368118,
       27.36554176, 29.28295626, 28.28253242, 30.65567599, 27.75476526,
       27.73131106, 28.88363987, 29.36249237, 27.58275807, 29.77505311,
       28.31823992, 28.55395138, 29.24407262, 30.06443902, 27.51114126,
       28.43044252, 27.8845491 , 30.1070269 , 29.47491403, 30.0179229 ,
       31.8947532 , 35.59624571, 32.65984729, 31.35901401, 26.74400551,
       26.74837425, 32.48032449, 27.89110687, 31.52354589, 29.4027636 ,
       28.76349698, 27.48482398, 29.80334629, 27.97453812, 27.2729837 ,
       33.82226818, 27.96903165, 28.17491586, 28.28608204, 26.83903554,
       34.12767707, 34.10680102, 29.73583849, 29.14297782, 35.3877067 ,
       36.19447142, 34.47007155, 35.43403949, 34.76721104, 33.02143838,
       34.94548978, 31.63209829, 30.7751347 , 32.50935812, 30.05425389,
       33.1682109 , 29.97359393, 34.94583414, 35.07992789, 31.39204714,
       31.66215746, 33.85691269, 30.96990093, 37.92228786, 33.71397439,
       31.27711612, 38.97175641, 35.62655564, 33.24931451, 35.53463319,
       37.1125544 , 32.89068725, 34.07143789, 24.98446627, 46.74277428,
       38.54597114, 39.66134833, 39.09582029, 35.00440082, 34.35497857,
       35.07378092, 33.47360758, 31.48881412, 34.36574344, 36.36522532,
       37.13587606, 42.93206713, 38.02027451, 33.36955024, 34.44684141,
       37.96500116, 37.44735654, 35.79231316, 33.38604884, 33.07887441,
       35.20517578, 36.69875999, 31.57936756, 36.06175581, 37.91063842,
       33.09451381, 37.30261175, 34.73890887, 39.61012539, 38.14285909,
       36.18130665, 39.75851705, 37.12614785, 36.08190937, 32.60296821,
       38.27192604, 31.92019512, 31.2552149 , 29.60632354, 33.07556178,
       32.80453163, 34.1390344 , 34.15570657, 30.1586558 , 29.83345429,
       32.87008342, 32.79442059, 30.66666573, 31.5828999 , 35.54288215,
       32.81783946, 35.68857351, 31.73066518, 31.15459787, 36.40641972,
       33.78388111, 33.39122112, 31.18793466, 36.50386255, 34.23518973,
       35.0335747 , 32.14371407, 33.92327242, 33.4607279 , 31.43054804,
       32.16613062, 33.09751196, 33.18892907, 33.69534378, 34.31973021,
       35.60246792, 32.21068895, 36.21050814, 32.20387284, 38.44205779,
       33.26785609, 33.16320545, 36.89579757, 33.17337517, 32.16235689,
       36.76300033, 36.10230994, 33.41855761, 37.99041923, 37.47022144,
       35.06959407, 32.9751572 , 35.04754864, 33.15202072, 35.55411375,
       34.89713261, 32.01336391, 35.80561197, 35.90019915, 38.92875409,
       38.62064902, 50.9824757 , 41.40974748, 39.34543264, 38.25948615,
       40.7157915 , 37.09871577, 35.81748234, 35.95924047, 40.29788846,
       31.75511393, 34.96080856, 37.37822598, 34.24041251, 36.77408116,
       38.62780509, 32.04469106, 34.70613044, 34.00222512, 34.00297399,
       39.18296604, 45.63236596, 41.84159279, 39.58215759, 43.05472275,
       39.47873709, 46.791613  , 40.26942107, 37.08630172, 36.64194848,
       37.28742846, 42.25118102, 35.15754644, 38.90247051, 39.79407602,
       39.83725675, 39.14493845, 38.79222982, 35.37130842, 31.30820889,
       36.3924995 , 35.92969409, 37.00849009, 32.20862005, 38.03876641,
       39.73985452, 37.08315952, 37.55335272, 36.15680234, 38.04811327,
       35.69723858, 35.98994864, 38.81922787, 47.38833767, 42.5027714 ,
       43.51020081, 38.13380304, 40.000096  , 38.9332686 , 45.98375186,
       41.4510159 , 47.59000438, 42.84940849, 42.30480464, 43.13085099,
       45.3385329 , 49.38189648, 30.06821274, 19.42817591, 34.46361728,
       17.81280582, 38.96917168, 45.08626197, 39.09652062, 40.4679215 ,
       47.07627457, 42.83655782, 45.63700276, 49.87216791, 45.10931258,
       43.31509951, 38.60413847, 39.71447958, 44.41410981, 27.85697807,
       37.12351836, 42.94540472, 38.21219661, 38.58985001, 37.77931968,
       40.17666959, 46.68152863, 35.5993067 , 44.46275681, 50.6723171 ,
       44.56870977, 46.67612192, 48.45104942, 46.30924888, 37.29652588,
       35.96037249, 48.8925098 , 17.05388726])

In [56]:
import datetime
import time
df['Forecast'] = np.nan
last_date = df.iloc[-1].name
last_unix  = last_date.timestamp()
one_day = 86400
next_unix = last_unix+one_day

for i in forecast_set:
    next_date = datetime.datetime.fromtimestamp(next_unix)
    next_unix += one_day
    df.loc[next_date] = [np.nan for _ in range(len(df.columns)-1)]+[i]

print(df.head())

AttributeError: 'str' object has no attribute 'timestamp'