In [34]:
import pandas as pd #it is a lib to read , write, etc to out dataset
import quandl as q

# Imports
import pandas as pd
import numpy as np
import datetime as dt
import math
import quandl
import matplotlib.pyplot as plt
from matplotlib import style

style.use("ggplot")
%matplotlib inline

from sklearn import preprocessing, svm
from sklearn.linear_model import LinearRegression

In [3]:
df= pd.read_csv("WIKI-PRICES.csv") #reading the csv file and stored in df

In [4]:
df.head() # it will show the top 5 rows of the data

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
0,ZUMZ,2018-03-27,24.65,24.65,23.3500,23.60,403884.0,0.0,1.0,24.65,24.65,23.3500,23.60,403884.0
1,ZUMZ,2018-03-26,23.75,24.80,23.7000,24.65,375320.0,0.0,1.0,23.75,24.80,23.7000,24.65,375320.0
2,ZUMZ,2018-03-23,23.55,24.20,23.4500,23.55,301584.0,0.0,1.0,23.55,24.20,23.4500,23.55,301584.0
3,ZUMZ,2018-03-22,23.90,24.35,23.3000,23.35,269607.0,0.0,1.0,23.90,24.35,23.3000,23.35,269607.0
4,ZUMZ,2018-03-21,23.80,24.60,23.6058,23.95,354092.0,0.0,1.0,23.80,24.60,23.6058,23.95,354092.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ticker       10000 non-null  object
 1   date         10000 non-null  object
 2   open         10000 non-null  float64
 3   high         10000 non-null  float64
 4   low          10000 non-null  float64
 5   close        10000 non-null  float64
 6   volume       10000 non-null  float64
 7   ex-dividend  10000 non-null  float64
 8   split_ratio  10000 non-null  float64
 9   adj_open     10000 non-null  float64
 10  adj_high     10000 non-null  float64
 11  adj_low      10000 non-null  float64
 12  adj_close    10000 non-null  float64
 13  adj_volume   10000 non-null  float64
dtypes: float64(12), object(2)
memory usage: 1.1+ MB

In [6]:
df = df.set_index('date')

In [7]:
df.head()

,ticker,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
date,,,,,,,,,,,,,
2018-03-27,ZUMZ,24.65,24.65,23.3500,23.60,403884.0,0.0,1.0,24.65,24.65,23.3500,23.60,403884.0
2018-03-26,ZUMZ,23.75,24.80,23.7000,24.65,375320.0,0.0,1.0,23.75,24.80,23.7000,24.65,375320.0
2018-03-23,ZUMZ,23.55,24.20,23.4500,23.55,301584.0,0.0,1.0,23.55,24.20,23.4500,23.55,301584.0
2018-03-22,ZUMZ,23.90,24.35,23.3000,23.35,269607.0,0.0,1.0,23.90,24.35,23.3000,23.35,269607.0
2018-03-21,ZUMZ,23.80,24.60,23.6058,23.95,354092.0,0.0,1.0,23.80,24.60,23.6058,23.95,354092.0

In [8]:
df=df[["adj_open","adj_high","adj_close","adj_volume"]] # WE ARE Taking the columns  which we are using

In [9]:
df.head()

            adj_open  adj_high  adj_close  adj_volume
date
2018-03-27     24.65     24.65      23.60    403884.0
2018-03-26     23.75     24.80      24.65    375320.0
2018-03-23     23.55     24.20      23.55    301584.0
2018-03-22     23.90     24.35      23.35    269607.0
2018-03-21     23.80     24.60      23.95    354092.0

In [10]:
df["HL_PCT"]=((df["adj_high"]-df["adj_close"])/df["adj_close"])*100  # we are doing the percentage of high and close 
df["PCT_change"]=((df["adj_close"]-df["adj_open"])/df["adj_open"])*100 # we are doing the percentage change in the close and open

In [11]:
df.head()

            adj_open  adj_high  adj_close  adj_volume    HL_PCT  PCT_change
date
2018-03-27     24.65     24.65      23.60    403884.0  4.449153   -4.259635
2018-03-26     23.75     24.80      24.65    375320.0  0.608519    3.789474
2018-03-23     23.55     24.20      23.55    301584.0  2.760085    0.000000
2018-03-22     23.90     24.35      23.35    269607.0  4.282655   -2.301255
2018-03-21     23.80     24.60      23.95    354092.0  2.713987    0.630252

In [12]:
df.info() # it will show the all the information of the dataset

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 2018-03-27 to 1994-01-04
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   adj_open    10000 non-null  float64
 1   adj_high    10000 non-null  float64
 2   adj_close   10000 non-null  float64
 3   adj_volume  10000 non-null  float64
 4   HL_PCT      10000 non-null  float64
 5   PCT_change  10000 non-null  float64
dtypes: float64(6)
memory usage: 546.9+ KB

In [13]:
import math # it is math lib in python which is use to calculation of math prombles
forecast_cal=df["adj_close"] 
forecast_out=int(math.ceil(0.01*len(df))) #ceil means rounds the valuse like 4.6=5 and 0.1 in for 10% of data
forecast_out

100

In [14]:
forecast_cal

date
2018-03-27    23.600000
2018-03-26    24.650000
2018-03-23    23.550000
2018-03-22    23.350000
2018-03-21    23.950000
                ...
1994-01-10     1.145833
1994-01-07     1.197500
1994-01-06     1.208333
1994-01-05     1.280833
1994-01-04     1.250000
Name: adj_close, Length: 10000, dtype: float64

In [15]:
df["label"]=forecast_cal.shift(-forecast_out)

In [16]:
df.head()

,adj_open,adj_high,adj_close,adj_volume,HL_PCT,PCT_change,label
date,,,,,,,
2018-03-27,24.65,24.65,23.60,403884.0,4.449153,-4.259635,17.40
2018-03-26,23.75,24.80,24.65,375320.0,0.608519,3.789474,17.95
2018-03-23,23.55,24.20,23.55,301584.0,2.760085,0.000000,18.50
2018-03-22,23.90,24.35,23.35,269607.0,4.282655,-2.301255,18.05
2018-03-21,23.80,24.60,23.95,354092.0,2.713987,0.630252,17.90

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 2018-03-27 to 1994-01-04
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   adj_open    10000 non-null  float64
 1   adj_high    10000 non-null  float64
 2   adj_close   10000 non-null  float64
 3   adj_volume  10000 non-null  float64
 4   HL_PCT      10000 non-null  float64
 5   PCT_change  10000 non-null  float64
 6   label       9900 non-null   float64
dtypes: float64(7)
memory usage: 883.0+ KB

In [18]:
df.dropna(inplace=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9900 entries, 2018-03-27 to 1994-05-27
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   adj_open    9900 non-null   float64
 1   adj_high    9900 non-null   float64
 2   adj_close   9900 non-null   float64
 3   adj_volume  9900 non-null   float64
 4   HL_PCT      9900 non-null   float64
 5   PCT_change  9900 non-null   float64
 6   label       9900 non-null   float64
dtypes: float64(7)
memory usage: 618.8+ KB

In [20]:
from sklearn import preprocessing ,svm
from sklearn.model_selection import train_test_split

In [22]:
# X.head()

In [23]:

X=df.drop("label",axis=1)
y=df["label"]

In [26]:
x=preprocessing.scale(X)
# X=X[: -forecast_out]
x_lately=x[-forecast_out:]
df.dropna(inplace=True)

In [27]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9900 entries, 2018-03-27 to 1994-05-27
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   adj_open    9900 non-null   float64
 1   adj_high    9900 non-null   float64
 2   adj_close   9900 non-null   float64
 3   adj_volume  9900 non-null   float64
 4   HL_PCT      9900 non-null   float64
 5   PCT_change  9900 non-null   float64
dtypes: float64(6)
memory usage: 541.4+ KB

In [28]:
len(X),len(y)

(9900, 9900)

In [29]:
import random
random.seed(42)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [30]:
reg=LinearRegression(n_jobs=-8)
reg.fit(X_train,y_train)
accuracy=reg.score(X_test,y_test)
accuracy

0.6909712854287473

In [31]:
forecast_out

100

In [ ]:
reg=svm.SVR(kernel="poly")
reg.fit(X_train,y_train)
accuracy=reg.score(X_test,y_test)
accuracy

In [35]:
df['Forecast'] = np.nan
last_date = df.iloc[-1].name
last_unix = last_date.timestamp()
one_day = 86400
next_unix = last_unix + one_day

for i in forecast_set:
    next_date = dt.datetime.fromtimestamp(next_unix)
    next_unix += one_day
    df.loc[next_date] = [np.nan for _ in range(len(df.columns)-1)]+[i]
df.head()

AttributeError: 'str' object has no attribute 'timestamp'